.ps-panel {
  .ps-coverImage {
    height: 125px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ps-content {
    padding: 0 15px 15px;
  }
  .ps-avatar {
    border-radius: 50%;
    box-shadow: 1px 1px 8px 0px $orange;
    height: 60px;
    width: 60px;
    background-color: $white;
    padding: 5px;
    margin-top: -20px;
  }
  .ps-info {
    margin-left: 20px;
  }
}
.blog-item {
  border-left: 3px solid $white;
  border-bottom: 1px solid $gray;

  &:hover, &:active {
    border-left: 3px solid $blue;
    cursor: pointer;
  }
  .blog-avatar {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  } 
}
.blog-content {
  width: 100%;

  .blog-bottom {
    i {
      font-size: 20px;
      margin-right: 20px;

      &:hover {
        color: $blue;
      }
    }
    .icon-redeem {
      font-size: 18px;
    }
  }
}